// =========== Card ========

.movie-card-container {
  background: #000 !important;
  cursor: pointer;
  position: relative;

  &:hover {
    scale: 1.4;
    z-index: 999;
    transition: 0.2s ease-in;
    transition-duration: 0.2s;
    transition-delay: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.movie-card-container .favorite-icon-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.5s ease;
  opacity: 0;
  z-index: 99;

  .icon-favorite {
    color: #fff;
  }
  

  .icon-favorite-red {
    color: #e50914;
  }

}

.movie-card-container .content-detail-wrapper {
  transition: 0.5s ease;
  opacity: 0;
  z-index: 99;

  .movie-genre-wrapper {
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-weight: 300;
    font-size: 10px;

    .tag-icon {
      font-size: 13px;
    }

    .movie-genre {
      font-size: 9px;
    }
  }

  .movie-name {
    color: #fff;
    // text-align: center;
    font-weight: 500;
    width: 210px;
    // bottom: 20px;
    // left: 16px;
  }
}

.movie-card-container:hover .poster-image {
  opacity: 0.3;
  transition-delay: 0.3s;
}
.movie-card-container:hover .content-detail-wrapper {
  opacity: 1;
  transition-delay: 0.3s;
}

.movie-card-container:hover .favorite-icon-wrapper {
  opacity: 1;
  transition-delay: 0.3s;
}
